{% load socialaccount %}
{% providers_media_js %}
{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MONKEY GARDEN</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta property="og:type" content="website">
    <meta property="og:title" content="MONKEY GARDEN">
    <meta property="og:site_name" content="MONKEY GARDEN">
    <meta property="og:description"
          content="MONKEY GARDEN is a new location-based social network service to create fun and interactive near-distance social spaces for you wherever you are by imitating monkeys communication.">

    <meta property="og:image" content="https://barkapp.co/assets/img/og-img.png">
    <meta name="twitter:image:src" content="https://barkapp.co/assets/img/og-img.png">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,200" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static 'css/style.css'%} ">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
</head>

<body>

<section class="main" id="main">
    <h1 class="title">
        <div class="sub">What does the monkey say</div>
        <div class="big">Kkik!</div>
    </h1>
    <br>
    <img src="{% static 'img/monkey1.png'%}" alt="Wordless-communication connecting people nearby"class="intro-img">
    <div id="stats" class="stats" style="margin-top: 100px;"><br>
        <span id="monkey-count" class="count">0</span> monkeys screamed<br>
        <span id="scream-count" class="count">0</span> times
        <br>
        <br>
        <p>
            <a href="{% provider_login_url "facebook" method="js_sdk" %}">
                <span style="border: solid 1px #8B5A00; padding: 10px; border-radius: 20px">Facebook 로그인</span>
            </a>
        </p>
    </div><br><br><br><br><br><br><br><br><br>

<section class="intro" id="intro">
    <img src="{% static 'img/realPhone.png'%}" alt="Wordless-communication connecting people nearby"
         class="intro-img">
    <h2>KKik!</h2>
    <p>Near-distance videos connecting people nearby</p>
</section>





</section>

<footer>
    <p>Get the KKik app now!</p>
    <div class="buttons">
        <a href="https://play.google.com/store/apps/details?id=com.bourbonshake.bark&amp;referrer=utm_source%3DBark%2520Website"
           target="_blank" class="android-link"><span class="circle" style="margin-right: 10px"><i class="fa fa-android"
         aria-hidden="true"></i></span><span>Play Store</span></a>
    </div>
    <div class="miscs">
        <a href="#">Contact us</a>
        <a href="#" target="_blank">Terms &amp; Condition</a>
        <a href="#" target="_blank">Privacy policy</a>
        <a href="#" class="smooth-scroll">Back to top</a>
    </div>

    <p class="copy">© 2017 AskDjango. All rights reserved.</p>
</footer>

<script async="" src="https://www.google-analytics.com/analytics.js"></script>
<script id="facebook-jssdk"
        src="//connect.facebook.net/en_GB/sdk.js#xfbml=1&amp;version=v2.6&amp;appId=314645451971263"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
    var ua = navigator.userAgent.toLowerCase();
    var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
    if (isAndroid) {
        $('.android-link').attr('href', 'market://details?id=com.bourbonshake.bark&referrer=utm_source%3DBark%2520Website');
    }

    if (window.location.search.indexOf('iOS-Menu') != -1) {
        $('.android-link').hide();
    }
</script>
<script src="{% static 'js/layout.js'%}"></script>

</body>
</html>
