{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MONKEY GARDEN</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta property="og:type" content="website">
    <meta property="og:title" content="MONKEY GARDEN">
    <meta property="og:site_name" content="MONKEY GARDEN">
    <meta property="og:description"
          content="MONKEY GARDEN is a new location-based social network service to create fun and interactive near-distance social spaces for you wherever you are by imitating monkeys communication.">

    <meta property="og:image" content="https://barkapp.co/assets/img/og-img.png">
    <meta name="twitter:image:src" content="https://barkapp.co/assets/img/og-img.png">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,200" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>

<body>

<section class="main" id="main">
    <h1 class="title">
        <div class="big">History</div>
    </h1>
    <br><br><br>

    <div class="my_wrapper">
        <div class="video_container">
            <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/z7d1fDUyuzQ">
            </iframe>
        </div>

        <div class="feed_container">
            <ol id="feed_list">
            {% for x in message_histories %}
            
                <li class="my_list" id="{{x.id}}">
                    <a href="#" class="selected">
                        <span class="vid-thumb"><img width=72 src="http://img.youtube.com/vi/{{x.message.url}}/0.jpg"/></span>
                        <div class="desc" style="font-family: Apple SD Gothic Neo; color: white;">
                        {% for y in profile%}{% if x.message.author_id == y.id %}{{y.user}} {% endif %}{% endfor %}</div>
                        <div class="desc"> {{x.message.text}}</div>
                    </a>
                </li>
        {% endfor %}

            </ol>
        </div>
    </div>
    <script src="{% static 'js/list.js' %}"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script id="facebook-jssdk"
            src="//connect.facebook.net/en_GB/sdk.js#xfbml=1&amp;version=v2.6&amp;appId=314645451971263"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>
        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
        if (isAndroid) {
            $('.android-link').attr('href', 'market://details?id=com.bourbonshake.bark&referrer=utm_source%3DBark%2520Website');
        }

        if (window.location.search.indexOf('iOS-Menu') != -1) {
            $('.android-link').hide();
        }
    </script>
</section>
</body>
</html>

