{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MONKEY GARDEN</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta property="og:type" content="website">
    <meta property="og:title" content="MONKEY GARDEN">
    <meta property="og:site_name" content="MONKEY GARDEN">
    <meta property="og:description"
          content="MONKEY GARDEN is a new location-based social network service to create fun and interactive near-distance social spaces for you wherever you are by imitating monkeys communication.">

    <meta property="og:image" content="https://barkapp.co/assets/img/og-img.png">
    <meta name="twitter:image:src" content="https://barkapp.co/assets/img/og-img.png">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,200" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>

<body>

<section class="main" id="main">
    <h1 class="title">
        <div class="big">History</div>
    </h1>
    <br><br><br>

    <div class="my_wrapper">
        <div class="video_container">
            <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/z7d1fDUyuzQ">
            </iframe>
        </div>

        <div class="feed_container">
            <ol id="feed_list">
                <li class="my_list" id="1">
                    <a href="#" class="selected">
                        <span class="vid-thumb"><img width=72 src="https://i.ytimg.com/vi/z7d1fDUyuzQ/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDOE_FArQRrc71WE1eah2leJQsP_Q"/></span>
                        <div class="desc" style="font-family: Apple SD Gothic Neo; color: white;">Jooeun sends </div>
                        <div class="desc">Tiger JK, Bizzy, 매니악, 블랙나인, 에이솔, 우원재 - 젓가락</div>
                    </a>
                </li>
                <li class="my_list" id="2">
                    <a href="#">
                        <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/9P7mEf4bilg/default.jpg"/></span>
                        <div class="desc" style="font-family: Apple SD Gothic Neo; color: white;">Hyunjoong sends </div>
                        <div class="desc">X-act Contour® Product Video</div>
                    </a>
                </li>
                <li class="my_list" id="3">
                    <a href="#">
                        <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/KHxNpXovl58/default.jpg"/></span>
                        <div class="desc" style="font-family: Apple SD Gothic Neo; color: white;">Minho sends </div>
                        <div class="desc">GearBox® Product Video</div>
                    </a>
                </li>
                <li class="my_list" id="4">
                    <a href="#">
                        <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/D_a2UBGsePQ/default.jpg"/></span>
                        <div class="desc" style="font-family: Apple SD Gothic Neo; color: white;">Jinseok sends </div>
                        <div class="desc">Mud Guards Product Video</div>
                    </a>
                </li>
                <li class="my_list" id="5">
                    <a href="#">
                        <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/vYoh2IgoBXg/default.jpg"/></span>
                        <div class="desc" style="font-family: Apple SD Gothic Neo; color: white;">Juhyuk sends </div>
                        <div class="desc">Wheel Well Guards Product Video</div>
                    </a>
                </li>
                <li class="my_list" id="6">
                    <a href="#">
                        <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/RTHI_uGyfTM/default.jpg"/></span>
                        <div class="desc" style="font-family: Apple SD Gothic Neo; color: white;">Jinhwan sends </div>
                        <div class="desc">Cargo Liner Product Video</div>
                    </a>
                </li>
                <li class="my_list" id="7">
                    <a href="#">
                        <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/EvTjAjLNphE/default.jpg"/></span>
                        <div class="desc" style="font-family: Apple SD Gothic Neo; color: white;">Hyeonin sends </div>
                        <div class="desc">Husky Liners Products</div>
                    </a>
                </li>
                <li class="my_list" id="8">
                    <a href="#">
                        <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/-Qpc79oaJQg/default.jpg"/></span>
                        <div class="desc" style="font-family: Apple SD Gothic Neo; color: white;">Beomjun sends </div>
                        <div class="desc">Custom Molded Mud Guards</div>
                    </a>
                </li>

            </ol>
        </div>
    </div>
    <script src="{% static 'js/list.js' %}"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script id="facebook-jssdk"
            src="//connect.facebook.net/en_GB/sdk.js#xfbml=1&amp;version=v2.6&amp;appId=314645451971263"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>
        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
        if (isAndroid) {
            $('.android-link').attr('href', 'market://details?id=com.bourbonshake.bark&referrer=utm_source%3DBark%2520Website');
        }

        if (window.location.search.indexOf('iOS-Menu') != -1) {
            $('.android-link').hide();
        }
    </script>
</section>
</body>
</html>

